
/*
SETUP
*/

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
    --main-color:#e82c68;
}


/*
=======================================
COMPUTER VERSION
=======================================
*/


/*
MAIN
*/

body {
    background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


/*
BUTTONS
*/

.button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button-outline {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e0e0e0;
}

.button-outline:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/*
ALERTS
*/


#alertContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.alert-box {
    position: relative;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    overflow: hidden;
}

.alert-box.show {
    opacity: 1;
    transform: translateY(0);
}

.alert-strip {
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    background-color: var(--main-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.alert-body {
    padding: 20px;
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.alert-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.alert-title {
    font-weight: bold;
    color: var(--main-color);
    font-size: 18px;
}

.alert-message {
    font-size: 14px;
    color: rgb(143, 143, 143);
    margin: 0;
}

.alert-close {
    font-size: 20px;
    color: var(--main-color);
    cursor: pointer;
}

/*
RESTAURANT MAIN MENU
*/


.restaurant-content-section {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    gap: 20px;
}

.search-bar {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}


.restaurant-list {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}


.restaurant {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    max-height: 380px;
}

.restaurant img {
    width: 100%;
    border-bottom: 1px solid #eee;
}


.restaurant-content {
    text-align: center;
}

.restaurant-title {
    font-size: 18px;
    margin-bottom: 0px;

}

.restaurant-title2 {
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 13px;
    color: var(--main-color);
}

.restaurant-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f06;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}


.filter-panel {
    flex: 0 0 250px;
    max-width: 250px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-select, .filter-checkbox {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.filter-checkbox label {
    display: block;
    margin-bottom: 5px;
}






/*
TABLES
*/

.modern-table {
    width: 103%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modern-table thead {
    background-color: var(--main-color);
    color: white;
    text-align: left;
}

.modern-table th, 
.modern-table td {
    padding: 15px;
    border-bottom: 1px solid #dddddd;
}



.modern-table img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.table-button {
    display: inline-block;
    padding: 8px 12px;
    color: white;
    background-color: var(--main-color);
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.table-button:hover {
    background-color: var(--main-color);
}




/*
NAVIGATION
*/

nav {
    color: white;
    padding-top: 10px;
    display: fixed;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}


nav.scrolled {
    position: fixed;
    background-color: var(--main-color);
    padding-bottom: 8px;
    border-bottom: 2px solid var(--main-color); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}


nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

nav ul li {
    display: inline;
    padding-left: 10px;

}

.menu-left {
    margin-right: auto;
}



.menu-left li {
    font-weight: 400; 
    font-size: 25px;
    color: white;
    font-family: 'Concert One', sans-serif;
    margin-bottom: 20px;

}

.menu-right {
  margin-left: auto;
}



nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.menu-mobile {
    display: none;
}

/*
SECTIONS
*/


.welcome-page {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.welcome-page h1 {
    font-weight: 600; 
    top: 20%;
    color: white;
    font-family: 'Rowdies', sans-serif;
    font-size: 37px;
    z-index: 3;
    margin-left: 10%;
    margin-top: 100px;
}

.welcome-page p {
    color: white;
    top: 17%;
    font-size: 18px;
    z-index: 3;
    margin-left: 10%;
}



.welcome-page > * {
    position: relative;
    z-index: 2;
}

.welcome-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url('../images/main.png') no-repeat center center;
    background-size: cover;
    filter: blur(5px);
    z-index: 0;
}

.welcome-page::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1;
}




.welcome-page .search-container {
    display: flex;
    align-items: center;
    top: 19%;
    font-size: 18px;
    z-index: 3;
    margin-left: 10%;
    gap: 4px;
}

.welcome-page input {
    border: 2px solid var(--main-color);
    border-radius: 25px;
    padding: 10px 15px;
    width: 300px;
    outline: none;
}

.welcome-page button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    min-width: 120px;
}




.welcome-page2 {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.welcome-page2 h1 {
    font-weight: 600; 
    top: 20%;
    color: white;
    font-family: 'Rowdies', sans-serif;
    font-size: 37px;
    z-index: 3;
    margin-left: 10%;
    margin-top: 100px;
}

.welcome-page2 p {
    color: white;
    top: 17%;
    font-size: 18px;
    z-index: 3;
    margin-left: 10%;
}



.welcome-page2 > * {
    position: relative;
    z-index: 2;
}

.welcome-page2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url('../images/main.png') no-repeat center center;
    background-size: cover;
    filter: blur(5px);
    z-index: 0;
}

.welcome-page2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1;
}




.content-section {
    padding: 50px 10%;
    background-color: white;
}

.content-section.dark {
    background-color: #F4F4F4;
}

.content-section.error {
    padding-top: 190px;
    padding-bottom: 490px;
}

.content-section.error h2 {
    text-align: left;
    color: var(--main-color);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.content-section h2 {
    text-align: left;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.content-section hr {
    margin: 0%;
    margin-top: -2%;
    border-top: 2px solid var(--main-color);
    width: 45%;
}

.content-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text-content {
    flex: 2;
    margin-right: 20px;
}

.content-section p {
    color: black;
    font-size: 16px;
    line-height: 1.6;
}

.content-section .cont-img {
    flex: 1;
    max-width: 500px;
    height: auto;
    margin-left: 20px;
    object-fit: cover;
}


.container {
    display: flex;
  }
  
.container-column {
    flex: 1;
}

.container-column i {
    color: var(--main-color);
}

.container-column .mainicons {
    color: var(--main-color);
    font-size: 23px;
}

.container-column .mainicons span {
    color: var(--main-color);
    font-size: 44px;
}



/*
FOOTER
*/

.footer {
    background-color: var(--main-color);
    color: white;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    text-align: left;
}

.footer-column {
    flex: 1;
    margin: 10px;
    max-width: 300px;
}



.footer-column h3 {
    margin-top: 0;
    font-size: 18px; 
}

.footer-column p, .footer-column ul li {
    font-size: 14px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column form {
    display: flex;
    gap: 5px;
    align-items: center;
}

.footer-column form input {
    padding: 8px;
    width: 80%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}



.footer-column form button {

    background-color: white;
    color: var(--main-color);
    font-weight: bold;
    padding: 8px;
    width: 30%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;

}

.footer-column form button:hover {
    background-color: #ccc;
}


/*
FORMS
*/


.form-container {
    max-width: 400px;
    padding-top: 35px;
}

.form-container .lbl {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container .inp {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.form-container .sel, .btn {
    width: 105%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container .btn {
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.form-container .btn:hover {
    background-color: #8f8f8f;
}


.form-container .checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-container .checkbox-group label {
    color: #8b8b8b;
    font-size: 12px;
}



.form-container .checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    width: auto;
}



/*
=======================================
MOBILE VERSION
=======================================
*/


@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-right {
        display: none;
        width: 100%;
    }

    .menu-right.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
    }

    nav.special {
        background-color: var(--main-color);
    }

    .menu-mobile {
        display: block;
        margin-left: auto;
    }

    .menu-mobile-icon {
        background: none;
        border: none;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }

    .menu-left {
        display: none;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        padding: 10px 0;
    }

}


/*
SECTIONS
*/


@media (max-width: 768px) {
    .content-body {
        display: block;
    }

    .text-content {
        margin-right: 0;
    }

    .content-section img {
        margin: 20px 0 0 0;
        max-width: 100%;
        height: auto;
    }

    .container {
        flex-direction: column;
    }
    
}


/*
FOOTER
*/


@media (max-width: 768px) {

    
    .footer-column form {
        display: absolute;
        gap: 5px;
        align-items: center;
    }

}

/*
RESTAURANTS
*/

@media (max-width: 768px) {

    .filter-panel {
        flex: none;
        max-width: 100%;
        border-right: none;
        border-bottom: 1px solid #ccc;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .restaurant-list {
        grid-template-columns: 1fr;
    }
}





.user-icon {
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.user-name {
    font-size: 14px;
    cursor: pointer;
}

.user-menu {
    position: relative;
}

.user-menu {
    position: relative;
}

.user-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: nowrap;
    min-width: 150px;
    padding: 10px 0;
    border-radius: 5px;
}

.user-menu:hover .user-dropdown,
.user-menu:focus-within .user-dropdown {
    display: block;
}

.user-dropdown a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.user-dropdown a:hover {
    background-color: #f1f1f1;
    color: #000;
}



@media (max-width: 768px) {

    .user-menu {
        align-self: left;
    }

}



