{% extends 'main_structure.html' %}

{% block contentmain %}
    <section class="welcome-page2">
        <h1>Registrace</h1>
        <p>Vytvořte si účet a ihned si objednejte.</p>
    </section>







    <section class="content-section">
        <div class="container">
        
            <div class="container-column">
            </div>


            <div class="container-column">

                <h2>Registrace</h2>
                <hr>

                <div class="form-container">
                    <form method="POST" action="/registrace">
                        <label class="lbl">Jméno</label>
                        <input class="inp" type="text" name="jmeno" placeholder="Vaše jméno">
            
                        <label class="lbl">Přijmení</label>
                        <input class="inp" type="text" name="prijmeni" placeholder="Vaše přijmení">                        

                        <label class="lbl">E-mail</label>
                        <input class="inp" type="email" name="email" placeholder="Váš e-mail">

                        <label class="lbl">Telefon</label>
                        <input class="inp" type="tel" name="telefon" placeholder="Váš telefon">
                
                        <label class="lbl">Heslo</label>
                        <input class="inp" type="password" name="heslo" placeholder="Vaše heslo">

                        <label class="lbl">Heslo (znova)</label>
                        <input class="inp" type="password" name="heslo_znova" placeholder="Vaše heslo (znova)">

                        <label class="lbl">Země</label>
                        <select class="sel" >
                            <option value="cz">Česká republika</option>
                            <option value="sk">Slovensko</option>
                        </select>
                
                        <button type="submit"  class="btn">Registrovat</button>
                        <!-- <button onclick="addAlert('Upozornění','Funkce není dostupná!')" class="btn">Odeslat</button> !-->
                    </form>
                    <a href="{{ url_for('prihlaseni') }}">Máte účet? Přihlaste se!</a>
                </div>
            </div>

            <div class="container-column">
            </div>

            
            
        </div>
    </section>

   

{% endblock %}
