{% extends 'main_structure.html' %}

{% block contentmain %}
    <section class="welcome-page2">
        <h1>{{ restaurace_promenna.nazev }}</h1>
        <p>{{ restaurace_promenna.popis }}</p>
    </section>




    <section class="content-section">
 
        <section class="restaurant-block-content-section">
       
            <input type="text" class="restaurant-block-search-bar" placeholder="Vyhledat jídlo v restaurci...">
       
            <section class="restaurant-block-content">
               
                <div class="restaurant-block-restaurant-list">
                    <div class="restaurant-block-restaurant">
                        <img src="images/pizza.jpg" alt="Sushi MORI">
                        <div class="restaurant-block-restaurant-content">
                            <h3 class="restaurant-block-restaurant-title">Pizza</h3>
                            <h5 class="restaurant-block-restaurant-title2">199,00 Kč</h5>
                            <a href="#" class="restaurant-block-restaurant-button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Do košíku</a>
                            <a href="#" class="restaurant-block-restaurant-button2"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="restaurant-block-restaurant">
                        <img src="images/burger.jpg" alt="Burger King Brno Česká">
                        <div class="restaurant-block-restaurant-content">
                            <h3 class="restaurant-block-restaurant-title">Bruger</h3>
                            <h5 class="restaurant-block-restaurant-title2">199,00 Kč</h5>
                            <a href="#" class="restaurant-block-restaurant-button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Do košíku</a>
                            <a href="#" class="restaurant-block-restaurant-button2"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
       
                <div class="restaurant-block-cart-panel">
                    <h3>Náhled košíku</h3>
                    <div class="restaurant-block-cart-items">
                        {% if session['kosik'] %}
                            <ul>
                                {% for produkt in session['kosik'] %}
                                <li>{{ produkt['nazev'] }} - {{ produkt['cena'] }} Kč</li>
                                {% endfor %}
                            </ul>
                            <p>Celková cena: sum([p['cena'] for p in session['kosik']])  Kč</p>
                        {% else %}
                            <p>Košík je prázdný, vyberte produkt.</p>
                        {% endif %}
                    </div>
                    {% if session['kosik'] %}
                    <form method="POST" action="{{ url_for('odeslat_objednavku') }}">
                        <textarea name="poznamka" placeholder="Poznámka pro kurýra"></textarea>
                        <button type="submit" class="restaurant-block-continue-button">Pokračovat</button>
                    </form>
                    {% endif %}
                </div>
       
            </section>
        </section>
       
 
    </section>


{% endblock %}
