{% extends 'main_structure.html' %}
 
{% block contentmain %}
    <section class="welcome-page2">
        <h1>{{ restaurace_promenna.nazev }}</h1>
        <p>{{ restaurace_promenna.popis }}</p>
    </section>
 
 
 
 
    <section class="content-section">
 
        <section class="restaurant-block-content-section">
       
            <form method="post" action="/restaurace/{{ restaurace_promenna.id_restaurace}}">
                <input type="text" name="search" class="search-bar" placeholder="Vyhledat jídlo v restaurci..." value="{{ search_query }}">
            </form>
       
            <section class="restaurant-block-content">
               
                <div class="restaurant-block-restaurant-list">
                    {% for produkt in produkty_promenna %}
                        <div class="restaurant-block-restaurant">
                            <img src="{{ produkt.image_url }}" alt="{{ produkt.nazev }}">
                            <div class="restaurant-block-restaurant-content">
                                <h3 class="restaurant-block-restaurant-title">{{ produkt.nazev }}</h3>
                                
                                <h5 class="restaurant-block-restaurant-title2">{{ produkt.castka }} Kč</h5>
                                {% if session.user_id %}
                                <a href="/pridat_do_kosiku/{{ produkt.id_produktu }}" class="restaurant-block-restaurant-button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Do košíku</a>
                                {% else %}
                                <a href="#" onclick="event.preventDefault(); addAlert('Chyba','Nejste přihlášený!')" class="restaurant-block-restaurant-button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Do košíku</a>
                                {% endif %}
                            <a href="#" onclick="event.preventDefault(); addAlert('Informace','{{ produkt.popis }}')" aria-label="{{ produkt.popis }}" class="restaurant-block-restaurant-button2"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                                
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}
                </div>
                <div class="restaurant-block-cart-panel">
                    <h3>Náhled košíku</h3>
                    <div class="restaurant-block-cart-items">
                        {% if kosik %}
                        <ul>
                            {% for produkt in kosik %}
                            <li>
                                {{ produkt.nazev }} - {{ produkt.castka }} Kč
                                <a href="{{ url_for('odebrat_z_kosiku', index=loop.index0) }}" class="remove-item-link"> <i class="fa fa-trash" aria-hidden="true"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>Košík je prázdný, vyberte produkt.</p>
                        {% endif %}
                    </div>
                
                    {% if kosik %}
                             <div class="form-container">
                        <form method="post" action="/odeslat_objednavku">
                            <label class="lbl">Cena doručení: <span style="font-weight: 100;">80 ,-Kč</span></label>
                            <label class="lbl">Celková cena: <span style="font-weight: 100;">{{ total+80 }} ,-Kč</span></label>
                            <br><br>
    
                            <label class="lbl">Poznámka</label>
                            <textarea class="inp" placeholder="Zde můžete napsat poznámku pro kurýra" rows="3" id="poznamka" name="poznamka"></textarea>
                    
                    
                            <button type="submit" class="btn">Objednat</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
                
                
       
            </section>
        </section>
       
 
    </section>
 
 
{% endblock %}