{% extends 'main_structure.html' %}

{% block contentmain %}
    <section class="welcome-page2">
        <h1>Nabídka restaurací</h1>
        <p>Vyberte si z naší široké nabídky restaurací</p>
    </section>




    <section class="content-section">

        <input type="text" class="search-bar" placeholder="Vyhledat restauraci...">

<section class="restaurant-content-section">
    
        <div class="filter-panel">
            <div class="filter-section">
                <h3>Podle hodnocení</h3>
                <select class="filter-select">
                    <option>Nejlépe hodnocené</option>
                    <option>Zlatá střední cesta</option>
                    <option>Nejhůře hodnocené</option>
                </select>
            </div>
            <div class="filter-section">
                <h3>Podle ceny</h3>
                <select class="filter-select">
                    <option>Nejdražší</option>
                    <option>Nejlevnější</option>
                </select>
            </div>
            <div class="filter-section">
                <h3>Podle produktů</h3>
                <div class="filter-checkbox">
                    <label><input type="checkbox"> Pizza</label>
                    <label><input type="checkbox"> Burger</label>
                    <label><input type="checkbox"> Sushi</label>
                    <label><input type="checkbox"> Těstoviny</label>
                </div>
            </div>
            <div class="filter-section">
                <h3>Podle typu restaurace</h3>
                <div class="filter-checkbox">
                    <label><input type="checkbox"> Cukrárna</label>
                    <label><input type="checkbox"> Market</label>
                    <label><input type="checkbox"> Fastfood</label>
                </div>
            </div>
        </div>




        <div class="restaurant-list">
            {% for restaurace in restaurace %}
            <div class="restaurant">
                <img src="{{ restaurace.image_url }}">
                <div class="restaurant-content">
                    <h3 class="restaurant-title">{{ restaurace.nazev }}</h3>
                    <h5 class="restaurant-title2"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ restaurace.adresa_ulice }} {{ restaurace.adresa_cislo_domu }}, {{ restaurace.adresa_psc }} {{ restaurace.adresa_mesto }}</h5>
                    <a href="{{ url_for('restaurace_nahled', restaurace_id=restaurace.id_restaurace) }}" class="restaurant-button">Zobrazit</a>
                </div>
            </div>
            {% endfor %}

        </div>

    </section>

</section>


{% endblock %}
