{% extends 'main_structure.html' %}

{% block contentmain %}
    <section class="welcome-page2">
        <h1>Správa restaurací</h1>
        <p>Zde můžete spravovat restaurace</p>
    </section>


   


    <section class="content-section">
        
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const menuLinks = document.querySelectorAll(".menu a");
                const contentSections = document.querySelectorAll(".content > div");
    
                menuLinks.forEach((link, idx) => {
                    link.addEventListener("click", (e) => {
                        e.preventDefault();
    
                        menuLinks.forEach(menuLink => menuLink.classList.remove("active"));
                        contentSections.forEach(section => section.style.display = "none");
    
                        link.classList.add("active");
                        contentSections[idx].style.display = "block";
                    });
                });
    
                contentSections.forEach((section, idx) => {
                    section.style.display = idx === 0 ? "block" : "none";
                });
            });
        </script>
    </head>
    <body>
    
    <div class="box-manage">
        <div class="menu">
            <a href="#" class="active">Restaurace</a>
            <a href="#">Nová restaurace</a>
        </div>
        <div class="content">
            <div>
                <h1>Restaurace</h1>
                <p>Zde se zobrazují všechny restaurace dostupné pro vás.</p>

                <table class="modern-table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Název</th>
                            <th>Adresa</th>
                            <th>Správce</th>
                            <th>Akce</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restaurace in restaurace %}
                        <tr>
                            <td>{{ restaurace.nazev }}</td>
                            <td>
                                {{ restaurace.adresa_ulice }} {{ restaurace.adresa_cislo_domu }}, {{ restaurace.adresa_psc }} {{ restaurace.adresa_mesto }}
                            </td>
                            <td>{{ get_user_by_id(restaurace.id_spravce).jmeno }} {{ get_user_by_id(restaurace.id_spravce).prijmeni }}</td>
                            <td>
                                <a href="{{ url_for('sprava_restaurace', restaurace_id=restaurace.id_restaurace) }}" class="table-button">Správa</a>
                                <a href="/smazat_restauraci/{{ restaurace.id_restaurace }}" class="table-button">Smazat</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if not restaurace %}
                    <p>Žádné restaurace nejsou k dispozici.</p>
                {% endif %}
                

            </div>

            <div class="hidden">
                <h1>Nová restaurace</h1>
                <p>Zde můžete vytvořit novou restauraci.</p>

                <div class="form-container">
                    <form method="post" action="/pridat_restauraci">
                        <label class="lbl">Název restaurace</label>
                        <input class="inp" type="text" placeholder="Název této restaurace" id="nazev" name="nazev" required>
                
                        <label class="lbl">Adresa restaurace</label>
                        <input class="inp" type="text" placeholder="Adresa této restaurace (Ulice Číslo PSČ Město)" id="adresa" name="adresa" required>
                
                        <label class="lbl">Telefon</label>
                        <input class="inp" type="phone" placeholder="Telefonní číslo této restaurace" id="telefon" name="telefon" required>

                        <label class="lbl">E-Mail</label>
                        <input class="inp" type="email" placeholder="E-Mail této restaurace" id="email" name="email" required>

                        <label class="lbl">Baner restaurace (url)</label>
                        <input class="inp" type="text" placeholder="Baner této restaurace" id="url" name="url" required>

                        <label class="lbl">Popis restaurace</label>
                        <textarea class="inp" placeholder="Nějaké informace o této restauraci" rows="8" id="popis" name="popis" required></textarea>
                
                
                        <button type="submit" class="btn">Vytvořit</button>
                    </form>
                </div>
 

            </div>
            
            
          
        </div>
    </div>

</section>


{% endblock %}
