{% extends 'main_structure.html' %}

{% block contentmain %}
    <section class="welcome-page2">
        <h1>Správa uživatelů</h1>
        <p>Zde najdete správu všech uživatelů v systému</p>
    </section>




    <section class="content-section">

        <input type="text" class="search-bar" placeholder="Vyhledat uživatele...">

        <table class="modern-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Celé Jméno</th>
                    <th>E-Mail</th>
                    <th>Datum Registrace</th>
                    <th>Oprávnění</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><img src="{{ url_for('static', filename='images/vector-users-icon.jpg') }}" alt="Burgers"></td>
                    <td>Adam Novák</td>
                    <td>adam.novak@mail.com</td>
                    <td>1.1.2025</td>
                    <td>Zákazník</td>
                    <td><a href="#" class="table-button">Smazat</a></td>
                </tr>
            </tbody>
        </table>
        

</section>


{% endblock %}
