{% extends 'main_structure.html' %}

{% block contentmain %}
    <section class="welcome-page2">
        <h1>Správa uživatelů</h1>
        <p>Zde najdete správu všech uživatelů v systému</p>
    </section>




    <section class="content-section">

        <form method="post" action="/sprava_uzivatelu">
            <input type="text" name="search" class="search-bar" placeholder="Vyhledat uživatele..." value="{{ search_query }}">
        </form>

        <table class="modern-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Celé Jméno</th>
                    <th>E-Mail</th>
                    <th>Datum Registrace</th>
                    <th>Oprávnění</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                {% for uzivatel in uzivatele %}
                <tr>
                    <td><img src="{{ url_for('static', filename='images/vector-users-icon.jpg') }}" alt="Burgers"></td>
                    <td>{{ uzivatel['jmeno'] }} {{ uzivatel['prijmeni'] }}</td>
                    <td>{{ uzivatel['email'] }}</td>
                    <td>{{ uzivatel['datum_registrace'] }}</td>
                    <td>{{ uzivatel['role'] }}</td>
                    <td><a href="/smazat_uzivatele/{{ uzivatel['id_uzivatele'] }}" class="table-button"><i class="fa fa-trash" aria-hidden="true"></i> Smazat</a> <a href="/nastavit_roli/{{ uzivatel['id_uzivatele'] }}/Uživatel" class="table-button"><i class="fa fa-user" aria-hidden="true"></i></a> <a href="/nastavit_roli/{{ uzivatel['id_uzivatele'] }}/Administrátor" class="table-button"><i class="fa fa-user-secret" aria-hidden="true"></i></a> <a href="/nastavit_roli/{{ uzivatel['id_uzivatele'] }}/Restaurace" class="table-button"><i class="fa fa-cutlery" aria-hidden="true"></i></a> <a href="/nastavit_roli/{{ uzivatel['id_uzivatele'] }}/Poslíček" class="table-button"><i class="fa fa-motorcycle" aria-hidden="true"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if uzivatele|length == 0 %}
        <small>Podle výsledků vyhledávání nebyly žádní uživatelé nenalezeni. Je možné že se v databázi nenachází, nebo hledáte špatně.</small>
        {% endif %}

</section>


{% endblock %}
